.containerMedalsPerCountry{
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        background-color: #00838f;
        color: white;
        padding: 10px;
        border-radius: 10px;
    }
}

.dataOutPieChart{
    display: flex;
    text-align: center;
}